@import "tailwindcss";

.nav-link {
	@apply text-neutral-500 text-sm hover:text-[#6662a9] hover:underline underline-offset-2 duration-300 transition-colors
}

.hover-underline-animation {
  position: relative;
  display: inline-block;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
  z-index: 1;
}

.hover-underline-animation:hover::after {
  width: 100%;
}
